<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
</head>

<body>
  {{include '../_includes/header.html'}}
  <section class="container">
    <div class="row">
      <div class="col-md-5">
        <form id="editTopic">
          <div class="form-group">
            <label for="exampleInputEmail1">选择板块</label>
            <select class="form-control" name="categoryId">
              <!-- 如果分类id和话题中的分类id相同则 为选中状态 -->
              {{each categorys}} 
              {{if $value.id == topicInfo.categoryId }}
              <option value="{{$value.id}}" selected>{{$value.name}}</option>
              {{else }}
              <option value="{{$value.id}}">{{$value.name}}</option>
              {{/if}} 
              {{/each}}
            </select>
          </div>
          <div class="form-group">
            <label>标题</label>
            <input type="text" class="form-control" name="title" placeholder="Email">
          </div>
          <div class="form-group">
            <label>内容</label>
            <textarea class="form-control" rows="3" name="content">{{topicInfo.content}}</textarea>
          </div>
          <button type="submit" class="btn btn-primary">重新提交</button>
        </form>
      </div>
    </div>
  </section>
  {{include '../_includes/footer.html'}}
  <script src="/node_modules/jquery/dist/jquery.js"></script>
  <script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>
</body>

</html>